<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="modzero.Umleitung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <modzero.Umleitung.Properties.Settings>
            <setting name="umlDebug" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="upstreamDNS1" serializeAs="String">
                <value />
            </setting>
            <setting name="upstreamDNS2" serializeAs="String">
                <value />
            </setting>
            <setting name="useCustomUpstream" serializeAs="String">
                <value>False</value>
            </setting>
        </modzero.Umleitung.Properties.Settings>
    </userSettings>
</configuration>